.not-done {
  color: red !important; }

.done {
  color: #007400 !important; }

.uncommitted {
  color: #4444bb !important; }

.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: white url(tomtom/img/grey-noise.png); }
  .deck-container .review-title {
    color: #FFF !important;
    text-shadow: #000 0.1em 0.1em 0.2em; }
  .deck-container .review-subtitle {
    display: block;
    color: #FFF !important;
    text-shadow: #000 0.1em 0.1em 0.2em; }
  .deck-container .stories {
    background-color: #ffffff;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.5em; }
    .deck-container .stories table {
      border: none !important;
      width: 100%; }
      .deck-container .stories table th {
        text-align: left;
        text-decoration: underline;
        padding: 0; }
      .deck-container .stories table td {
        padding: 2px 10px 2px 0;
        vertical-align: top;
        font-size: smaller; }
      .deck-container .stories table td.epic {
        width: 12em;
        font-weight: bold; }
      .deck-container .stories table tr.epic td {
        padding-top: 1em; }
      .deck-container .stories table tr.epic td:first-child {
        width: 12em;
        color: #000055;
        font-weight: bold; }
  .deck-container .info {
    margin: 1em 0; }
    .deck-container .info .scrum-master .caption {
      font-weight: bold;
      text-shadow: #CCC 0.1em 0.1em 0.2em; }
    .deck-container .info .team .caption {
      font-weight: bold;
      text-shadow: #CCC 0.1em 0.1em 0.2em; }
    .deck-container .info p {
      margin: 0; }
  .deck-container .slide {
    background-position: center;
    text-shadow: #cccccc 0.1em 0.1em 0.1em; }
    .deck-container .slide header {
      border-bottom: 3px solid #ccc;
      margin-bottom: 1em;
      margin-top: 1em; }
    .deck-container .slide h1 {
      color: #000000; }
    .deck-container .slide h1.center {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.7); }
    .deck-container .slide h2 {
      color: #6ba100; }
    .deck-container .slide h3 {
      /* color: #6ba100; */ }
    .deck-container .slide pre {
      border-color: #ccc; }
    .deck-container .slide code {
      color: #888; }
    .deck-container .slide img.inline {
      float: none;
      margin: 0.5em; }
    .deck-container .slide blockquote {
      font-size: 2em;
      font-style: italic;
      padding: 1em 2em;
      color: #000;
      border-left: 5px solid #ccc; }
      .deck-container .slide blockquote p {
        margin: 0; }
      .deck-container .slide blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #888; }
    .deck-container .slide ::-moz-selection {
      background: #c00;
      color: #fff; }
    .deck-container .slide ::selection {
      background: #c00;
      color: #fff; }
    .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
      color: #669;
      font-weight: bold;
      text-decoration: none; }
    .deck-container .slide a:hover, .deck-container .slide a:focus {
      text-decoration: underline; }
    .deck-container .slide table {
      background-color: #ffffff;
      padding: 0.5em;
      margin: 0.5em 0;
      border: 3px solid #ccc;
      border-radius: 0.25em; }
      .deck-container .slide table th {
        text-align: left;
        font-weight: bold;
        padding: 0.25em;
        font-size: smaller; }
      .deck-container .slide table td {
        padding: 0.25em;
        vertical-align: top;
        font-size: smaller; }
  .deck-container .slide.overview {
    background-color: #fff; }
  .deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
    opacity: 0.4; }
    .deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
      opacity: 1; }
  .deck-container > .slide .deck-child-current {
    opacity: 1; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: #ccc;
    font-family: serif; }
    .deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
      color: #fff; }
    .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
      background: #c00;
      text-decoration: none; }
  .deck-container .deck-status {
    font-size: 0.6666em; }
  .deck-container.deck-menu .slide {
    background: #eee; }
  .deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
    background: #ddf; }
