.deck-container {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.75em;
	background: #ffffff url(tomtom/img/grey-noise.png);
	
	.not-done {
		color: red!important;
	}
	.done {
		color: #007400!important;
	}

	.review-title {
		color: #FFF !important;
		text-shadow: #000 0.1em 0.1em 0.2em;
	}

	.review-subtitle {
		display: block;
		color: #FFF !important;
		text-shadow: #000 0.1em 0.1em 0.2em;
	}

	.stories {
		list-style: none;
		margin-left: 0px;
		padding: 10px;
		background-color: #FFFCD6;
		border: 1px solid #CCCCCC;
		border-radius: 15px;
	
		.story {
			color: #fff;
			width: 100%;
			font-weight: bold;
		}

	}

	.info {
		.scrum-master {
			.caption {
				font-weight: bold;
				text-shadow: #CCC 0.1em 0.1em 0.2em;
			}
			.content {
			
			}
		}

		.team {
			.caption {
				font-weight: bold;
				text-shadow: #CCC 0.1em 0.1em 0.2em;
			}
			.content {

			}
		}
	}

	.slide {
		//background-size: 100%;
		background-position: center; 
		text-shadow: #cccccc 0.1em 0.1em 0.1em;

		header {
			border-bottom: 3px solid #ccc;
			margin-bottom: 1em;
			margin-top: 1em;
		}

		h1 {
			color: #000000;
		}

		h1.center {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px; 
			background-color: rgba(255,255,255,0.7);
		}

		h2 {
			color: #6ba100;
		}

		h3 {
			color: #6ba100;
		}

		pre {
			border-color: #ccc;
		}

		code {
			color:#888;
		}

		img.inline {
			float: none;	
			margin: 0.5em;
		}

		blockquote {
			font-size:2em;
			font-style:italic;
			padding:1em 2em;
			color:#000;
			border-left:5px solid #ccc;

			p {
				margin:0;
			}

			cite {
				font-size:.5em;
				font-style:normal;
				font-weight:bold;
				color:#888;
			}
		}

		::-moz-selection{ background:#c00; color:#fff; }
		::selection { background:#c00; color:#fff; }

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color:#c00;
				text-decoration:none;
			}

			&:hover, &:focus {
				text-decoration:underline;
			}
		}
	}

	> .slide {
		.deck-before, .deck-previous {
			opacity:0.4;
			
			&:not(.deck-child-current) {
				.deck-before, .deck-previous {
					opacity:1;
				}
			}
		}
		
		.deck-child-current {
			opacity:1;
		}
	} 
	
	.deck-prev-link, .deck-next-link {
		background:#ccc;
		font-family:serif; // sans-serif arrows x-browser fail
		
		&, &:hover, &:focus, &:active, &:visited {
			color:#fff;
		}
		
		&:hover, &:focus {
			background:#c00;
			text-decoration:none;
		}
	}
	
	.deck-status {
		font-size:0.6666em;
	}
	
	&.deck-menu {
		.slide {
			background:#eee;
		}
		
		.deck-current, .no-touch & .slide:hover {
			background:#ddf;
		}
	}
}
