/* Override deck.js styles. */
#mnr-demo-map { 
	width: 100%;
	height: 600px;
}
#mnr-demo-map.fullScreen { 
	width: 100% !important;
	height: 100% !important;
}
#mnr-demo-map a { 
	color: #EEEEEE;
}
#mnr-demo-map div {
	font-size: 16px;
}
#mnr-demo-map img { 
	max-width: none;
	max-height: none;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.mnr-table {
	font-size: 16px !important;
}

.mnr-table tr > td {
	padding-bottom: 16px !important;
}

.have {
	color: green;
}

.kinda-have {
	color: orange;
}

.dont-have {
	color: red;
}

.differ {
        width: 100%;
}

.differ td, .differ th {
        text-align: center;
        padding: 7px;
        border: 2px solid #6ba100;
}

.differ th {
        color: white; 
        background-color: #6ba100;
}

